* {
    font-family: "Montserrat", sans-serif;
}

header {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.icon {
    width: auto;
    height: 30vh;
    padding: 1vh;
}

#menuIcon {
    width: auto;
    height: 3vh;
}

#noscript-warning {
    margin-bottom: 0px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

#noscript-warning h3 {
    font-weight: bold;
}
